**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.pytest_cache
**/.coverage
**/*.log
**/recipes_data
**/data
**/salt
**/.env
**/.venv
**/venv
**/*.md
**/.git
**/.gitignore

